
@using rolesDemoSSD.Models

@model IEnumerable<rolesDemoSSD.Models.Products>


@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<form asp-action="Index" method="get" asp-controller="Product">
    <div class="form-actions no-color">
        <select class="form-control" id="Category" name="FilterList">
            <option>Select a Category</option>

            @foreach (var item in Model)
            {
                <option type="text" name="Category">@Html.DisplayFor(modelItem => item.Category)</option>
            }
        </select>


        <input type="submit" name="FilterList" value="Filter" class="btn btn-default" />

    </div>
</form>


<div class="d-flex flex-row">

    @foreach (var item in Model)
    {


        <div class="card" style="width: 18rem; row-gap: 10px">
            <img src="~/images/@Html.DisplayFor(modelItem => item.Photo)" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                <p><a asp-action="AddToCart" asp-route-id="@item">Add to cart</a></p>

                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHdwYJKoZIhvcNAQcEoIIHaDCCB2QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBxBP49nGXLV/hWW4Y+lBUioH/0kaiN2+lh7z0tmm61plJ7dGbdwQrUodRmpn9KNYDJf19rgDIG3OaNhwUeTASNt7ZBPRnqY8ZTQz1Q967Tpaw3SVfYVYxKxkTgfS0jpA2MmaPu0RQP1kGkhIZE00U6IDqGtJ1xnGDjAmsQhEGQCjELMAkGBSsOAwIaBQAwgfQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQISmW3BABIUN2AgdDOgeQqjqUryfiuhxKuQP17NeHMK3NA0BY4fmksT2HtHr8REi4aKxEgV04RVil5ph/fQKJcizGm7Bz2AB1fka3NHY/IUe1TZUv1SJbiPg8cu+Q27K/pqs9eO4VIBNnzYXwtUKzqceOuou8Tr7GWPwerh4SjWEGXO3S61XKmhOC/L721Cw3vM5TFsr1nNr0XglfJn6hcLNQam6cXxTJVwk9ZJ5WHmxchWdOtj3sOyi20YQpznh8tafaHd8YW7LLlEuZArprERy/XcG44agCeRK9ZoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMjIwMzI1MTYxMjIxWjAjBgkqhkiG9w0BCQQxFgQUacmnVPkKn7ka77MQZHq8ha5XdJowDQYJKoZIhvcNAQEBBQAEgYA31Wri5+VGfYBHXm2xkUzbaQQeTImi1QEVis9ftql+sCaeysR4jr7v9v1ruPSfw0FoYxNk33VRmw7cPf//5MWNp1Mn3edkyF4qC7KhPDukiL9phmbAf+mfy0qVVv9kyWJ+wYPXzkBuzePc6PL4QEAiuFFF4HyTEhUVlKh3awL6xw==-----END PKCS7-----">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                @Html.ActionLink("Details", "Details", new { productID = item.ProductID })
            </div>
        </div>
        <br />


    }


</div>

