
@using rolesDemoSSD.Models

@model IEnumerable<rolesDemoSSD.Models.Products>


@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<form asp-action="Index" method="get" asp-controller="Product">
    <div class="form-actions no-color">
        <select class="form-control" id="Category" name="FilterList">
            <option>Select a Category</option>

            @foreach (var item in Model)
            {
                <option type="text" name="Category">@Html.DisplayFor(modelItem => item.Category)</option>
            }
        </select>


        <input type="submit" name="FilterList" value="Filter" class="btn btn-default" />

    </div>
</form>






<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    @Html.ActionLink("Details", "Details", new { productID = @item.ProductID }) |
                    @*<a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
